@media screen and (min-width: 810px) and (max-width: 1200px) {

    #header {
        height: 150vh;
    }

    .hero-section {
        margin: 80px auto 50px auto;
    }

    .hero-section .title {
        font-size: 68px;
    }

    /* social-media section */
    .social-media {
        display: none;
    }

    /* vertical-nav section */

    .vertical-nav {
        display: none;
    }

    /* steps */

    .steps {
        row-gap: 0;
        bottom: 0;
    }

    .steps #section1 {
        flex-direction: column-reverse;
    }

    .steps #section2 {
        flex-direction: column;
    }

    .steps #section1,
    .steps #section2 {
        justify-content: center;
        align-items: center;
    }

    #section1 .thumb img,
    #section2 .thumb img {
        width: 430px;
        height: 500px;
    }

    .steps .number {
        position: relative;
        left: 113px;
        bottom: 73px;
    }

    .steps .content {
        left: 280px;
        width: 50%;
    }

    .steps #section1 .content {
        bottom: 158px !important;
    }

    .steps #section2 .content {
        bottom: 190px;
    }


    /* end step section */

     /* map section */

    .map {
        padding-bottom: 70px;
    }

    .map .title,
    .key .title,
    .option .title {
        font-size: 40px;
    }

    .map .wrapper {
        height: auto;
        margin-bottom: 0;
    }

    

    /* end map section */

    /* key section */

    .video-wrapper .video {
        width: 80%;
        height: 400px;
    }

    /* option */
    .custom-prev {
        left: -20%;
    }

    .custom-next {
        right: -20%;
    }

    .swiper-content p {
        text-transform: uppercase;
        font-size: 30px;
        }


    /* footer section */


    footer {
        padding-left: 0;
        padding-right: 0;
    }

    footer .main-content {
        flex-direction: column-reverse !important;
        row-gap: 50px;
    }

    footer .branding {
        height: auto;
    }

    footer .content {
        width: 100%;
        justify-content: flex-start;
        column-gap: 120px;
    }

}